# exclude the compiled binary
/gotosocial

# exclude built documentation, since readthedocs will build it for us anyway
/docs/_build

# exclude coverage report
cp.out

# exclude node_modules if installed
/web/source/node_modules