{{- /*
	GoToSocial
	Copyright (C) 2021-2023 GoToSocial Authors admin@gotosocial.org

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/ -}}

{{ template "header.tmpl" .}}
<main>
	<section>
		<h1>404: Page Not Found</h1>
		<p>
			GoToSocial only serves Public statuses via the web.
			If you reached this page by clicking on a status link,
			it's possible that the status is not Public, has been
			deleted by the author, you don't have permission to see
			it, or it just doesn't exist at all.
		</p>
		<p>
			If you believe this 404 was an error, you can contact
			the instance admin.
		</p>
	</section>
</main>

{{ template "footer.tmpl" .}}