{{ template "header.tmpl" .}}
<main>
	<section>
		<h1>404: Page Not Found</h1>
		If you believe this was an error, you can <a href="{{.instance.ContactAccount.URL}}">contact an admin</a>
	</section>
</main>

{{ template "footer.tmpl" .}}