Hello {{.Username}}!

You are receiving this mail because you've requested an account on {{.InstanceURL}}.

We just need to confirm that this is your email address. To confirm your email, paste the following in your browser's address bar:

{{.ConfirmLink}}

If you believe you've been sent this email in error, feel free to ignore it, or contact the administrator of {{.InstanceURL}}
