Hello {{.Username}}!

You are receiving this mail because a password reset has been requested for your account on {{.InstanceURL}}.

To reset your password, paste the following in your browser's address bar:

{{.ResetLink}}

If you believe you've been sent this email in error, feel free to ignore it, or contact the administrator of {{.InstanceURL}}.
