{{ template "header.tmpl" .}}
    <main>
        <section class="error">
          <span>❌</span> <pre>{{.error}}</pre>
          <span>request ID</span> <code>{{.requestid}}</code>
        </section>
    </main>
{{ template "footer.tmpl" .}}