{{- /*
	GoToSocial
	Copyright (C) 2021-2023 GoToSocial Authors admin@gotosocial.org

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/ -}}

{{ template "header.tmpl" .}}
    <main>
        <form action="/oauth/finalize" method="POST">
            <h1>Hi {{.name}}!</h1>
            <p>
              You are about to sign-up to {{ .instance.Title }} (<code>{{ .instance.URI }}</code>)
              <br>
              To ensure the best experience for you, we need you to provide some additional details.
            </p>
            {{if .error}}
              <section class="error">
                <span>❌</span> <pre>{{.error}}</pre>
              </section>
            {{end}}
            <div class="callout">
              <p class="callout-title">Important</p>
              <p>Due to the way the ActivityPub standard works, you <strong>cannot</strong> change your username after it has been set.</p>
            </div>
            <div class="labelinput">
                <label for="username">Username <small>(must contain only lowercase letters, numbers, and underscores)</small></label>
                <input type="text"
                       class="form-control"
                       name="username"
                       required
                       placeholder="Please enter your desired username" value="{{ .preferredUsername }}">
            </div>
            <input type="hidden" name="name" value="{{ .name }}">
            <button type="submit" style="width: 100%; margin-top: 1rem;" class="btn btn-success">Submit</button>
        </form>
    </main>
{{ template "footer.tmpl" .}}
