{{- /*
// GoToSocial
// Copyright (C) GoToSocial Authors admin@gotosocial.org
// SPDX-License-Identifier: AGPL-3.0-or-later
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/ -}}

{{- with . }}
<main>
    <section class="with-form" aria-labelledby="finalize">
        <h2 id="finalize">Finalize sign-in to {{ .instance.Title -}}</h2>
        <form action="/oauth/finalize" method="POST">
            <p>
                Hi <b>{{- .name -}}</b>!
            </p>
            <p>
                You are about to create an account on <b>{{- .instance.Title -}}</b>.
                To finish the process, you must select your username.
            </p>
            <div class="labelinput">
                <label for="username">
                    Username (lowercase a-z, numbers, and underscores; max 64 characters).<br/>
                    <small>Your username will be part of your fediverse handle, and cannot be changed later, so choose thoughtfully!</small>
                </label>
                <input 
                    id="username"
                    type="text"
                    name="username"
                    required
                    placeholder="Please enter your desired username"
                    pattern="^[a-z0-9_]{1,64}$"
                    title="lowercase a-z, numbers, and underscores; max 64 characters"
                    value="{{- .suggestedUsername -}}"
                >
            </div>
            <input type="hidden" name="name" value="{{- .name -}}">
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </section>
</main>
{{- end }}