	<!-- footer.tmpl -->
	<footer>
		<div id="version">
			GoToSocial: <span class="accent">{{.instance.Version}}</span><br>
			<a href="https://github.com/superseriousbusiness/gotosocial">Source Code</a>
		</div>
		<div id="contact">
			Contact: <a href="{{.instance.ContactAccount.URL}}" class="nounderline">{{.instance.ContactAccount.Username}}</a><br>
		</div>
		<div id="email">
			Email: <a href="mailto:{{.instance.Email}}" class="nounderline">{{.instance.Email}}</a><br>
		</div>
	</footer>
</body>
</html>