		<!-- footer.tmpl -->
		<footer>
			<div id="version">
				GoToSocial: <span class="accent">{{.instance.Version}}</span><br>
				<a href="https://github.com/superseriousbusiness/gotosocial">Source Code</a>
			</div>
			<div id="contact">
				{{ if .instance.ContactAccount }} 
				Contact: <a href="{{.instance.ContactAccount.URL}}" class="nounderline">{{.instance.ContactAccount.Username}}</a><br>
				{{ end }}
			</div>
			<div id="email">
				{{ if .instance.Email }} 
				Email: <a href="mailto:{{.instance.Email}}" class="nounderline">{{.instance.Email}}</a><br>
				{{ end }}
			</div>
		</footer>
	</div>
	{{ if .javascript }}
	{{ range .javascript }}
		<script src="{{.}}"></script>
	{{ end }}
	{{ end }}
</body>
</html>