<!DOCTYPE html>

<!-- header.tmpl -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="{{ if .robotsMeta }}{{ .robotsMeta }}{{ else }}noindex, nofollow{{ end }}">
	{{ if .ogMeta }}{{ if .ogMeta.Locale }}<meta name="og:locale" content="{{ .ogMeta.Locale }}">
	{{ end }}<meta name="og:type" content="{{ .ogMeta.ResourceType }}">
	<meta name="og:title" content="{{ .ogMeta.Title }}">
	<meta name="og:url" content="{{ .ogMeta.URL }}">
	<meta name="og:site_name" content="{{ .ogMeta.SiteName }}">
	<meta name="og:description" {{ .ogMeta.Description | noescapeAttr }}>
	{{ if .ogMeta.ArticlePublisher }}<meta name="og:article:publisher" content="{{ .ogMeta.ArticlePublisher }}">
	<meta name="og:article:author" content="{{ .ogMeta.ArticleAuthor }}">
	<meta name="og:article:modified_time" content="{{ .ogMeta.ArticleModifiedTime }}">
	<meta name="og:article:published_time" content="{{ .ogMeta.ArticlePublishedTime }}">
	{{ end }}<meta name="og:image" content="{{ .ogMeta.Image }}">
	{{ if .ogMeta.ImageWidth }}<meta name="og:image:width" content="{{ .ogMeta.ImageWidth }}">
	<meta name="og:image:height" content="{{ .ogMeta.ImageHeight }}">
	{{ end }}{{ end }}<link rel="shortcut icon" href="{{ .instance.Thumbnail }}" type="{{ if .instance.ThumbnailType }}{{ .instance.ThumbnailType }}{{ else }}image/png{{ end }}">
	<link rel="stylesheet" href="/assets/dist/_colors.css">
	<link rel="stylesheet" href="/assets/dist/base.css">
	{{range .stylesheets}}<link rel="stylesheet" href="{{.}}">
	{{end}}<title>{{ if .ogMeta }}{{ .ogMeta.Title }}{{ else }}{{.instance.Title}} - GoToSocial{{ end }}</title>
</head>
<body>
	<div class="page">
		<header>
			<a aria-label="instance homepage" href="/" class="nounderline header">
				<img src="{{ .instance.Thumbnail }}" alt="{{ if .instance.ThumbnailDescription }}{{ .instance.ThumbnailDescription }}{{ else }}Instance Logo{{ end }}"/>
				<div>
					<h1>
						{{.instance.Title}}
					</h1>
				</div>
			</a>
		</header>
		<div class="content">
