<!DOCTYPE html>
<!-- header.tmpl -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/assets/bundle.css">
	<title>{{.instance.Title}} - GoToSocial</title>
	<link rel="shortcut icon" href="/assets/sloth.png" type="image/png">
</head>
<body>
	<header>
		<h1>
			{{.instance.Title}}
		</h1>
	</header>