{{ template "header.tmpl" .}}
<main class="lightgray">

	<section>
		<h1>Home to <span class="count">{{.instance.Stats.user_count}}</span> users
			who posted <span class="count">{{.instance.Stats.status_count}}</span> statuses,
			federating with  <span class="count">{{.instance.Stats.domain_count}}</span> other instances.</h1>
		<div className="short-description">
			{{.instance.ShortDescription |noescape}}
		</div>
	</section>
	
	<section class="apps">
		<p>
			GoToSocial does not provide its own frontend, but implements the Mastodon client API.
			You can use this server through a variety of clients:
		</p>
		<div class="applist">
			<div class="entry">
				<svg role="img" aria-labelledby="pinaforeTitle pinaforeDesc" class="logo redraw" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10000 10000">
					<title id="pinaforeTitle">The Pinafore logo</title>
					<desc id="pinaforeDesc">A stylised boat in flat design</desc>
					<path d="M9212 5993H5987V823c1053 667 2747 2177 3225 5170zM3100 2690A12240 12240 0 01939 6035h2161zm676 7210h2448a3067 3067 0 003067-3067H5052V627a527 527 0 00-1052 0v6206H709a3067 3067 0 003067 3067z"></path>
				</svg>
				<div>
					<h2>Pinafore</h2>
					<p>Pinafore is a web client designed for speed and simplicity.</p>
					<a class="button" href="https://pinafore.social/settings/instances/add">Use Pinafore</a>
				</div>
			</div>
			<div class="entry">
				<img class="logo" src="/assets/tusky.svg" alt="The Tusky mascot, a cartoon elephant tooting happily"/>
				<div>
					<h2>Tusky</h2>
					<p>Tusky is a lightweight mobile client for Android</p>
					<a class="button" href="https://tusky.app">Get Tusky</a>
				</div>
			</div>
		</div>
	</section>
</main>
{{ template "footer.tmpl" .}}