{{- /*
// GoToSocial
// Copyright (C) GoToSocial Authors admin@gotosocial.org
// SPDX-License-Identifier: AGPL-3.0-or-later
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/ -}}

{{- define "registrationLimits" -}}
New account registration is currently&nbsp;
{{- if .instance.Registrations -}}
    <b>open</b>.
{{- else -}}
    <b>closed</b>.
{{- end -}}
{{- end -}}

{{- with . }}
<section class="about-section register-an-account" role="region" aria-labelledby="signup">
    <h3 id="signup">Register an Account on {{ .instance.Title -}}</h3>
    <div class="about-section-contents">
        <p>{{- template "registrationLimits" . -}}</p>
        {{- if .instance.Registrations }}
        <p>To register a new account, please first read the <a href="/about#rules">rules</a> and <a href="/about#terms">terms</a>.</p>
        <p>Then, use the <a href="/signup">sign-up page</a> to register an account.</p>
        <p>Manual admin approval is <b>required</b> for new accounts.</p>
        {{- end }}
    </div>
</section>
{{- end }}