{{- /*
// GoToSocial
// Copyright (C) GoToSocial Authors admin@gotosocial.org
// SPDX-License-Identifier: AGPL-3.0-or-later
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/ -}}

{{- define "thumbnailDescription" -}}
{{- if .instance.ThumbnailDescription -}}
{{- .instance.ThumbnailDescription -}}
{{- else -}}
Instance Logo
{{- end -}}
{{- end -}}

{{- define "strapUsers" -}}
{{- with deref .instance.Stats.user_count -}}
    {{- if eq . 1 -}}
        <span class="count">{{- . -}}</span> user
    {{- else -}}
        <span class="count">{{- . -}}</span> users
    {{- end -}}
{{- end -}}
{{- end -}}

{{- define "strapPosts" -}}
{{- with deref .instance.Stats.status_count -}}
    {{- if eq . 1 -}}
        <span class="count">{{- . -}}</span> post
    {{- else -}}
        <span class="count">{{- . -}}</span> posts
    {{- end -}}
{{- end -}}
{{- end -}}

{{- define "strapInstances" -}}
{{- with deref .instance.Stats.domain_count -}}
    {{- if eq . 1 -}}
        <span class="count">{{- . -}}</span> other instance
    {{- else -}}
        <span class="count">{{- . -}}</span> other instances
    {{- end -}}
{{- end -}}
{{- end -}}

{{- with . }}
<a aria-label="{{- .instance.Title -}}. Go to instance homepage" href="/" class="nounderline">
    <picture>
        {{- if .instance.ThumbnailStatic }}
        <source
            srcset="{{- .instance.ThumbnailStatic -}}"
            type="{{- .instance.ThumbnailStaticType -}}"
            media="(prefers-reduced-motion: reduce)"
        />
        {{- end }}
        <img
            src="{{- .instance.Thumbnail -}}"
            alt="{{- template "thumbnailDescription" . -}}"
            title="{{- template "thumbnailDescription" . -}}"
        />
    </picture>
    <h1>{{- .instance.Title -}}</h1>
</a>
{{- if .showStrap }}
<aside>home to {{ template "strapUsers" . }} who wrote {{ template "strapPosts" . }}, federating with {{ template "strapInstances" . }}</aside>
{{- end }}
{{- end }}