{{- /*
// GoToSocial
// Copyright (C) GoToSocial Authors admin@gotosocial.org
// SPDX-License-Identifier: AGPL-3.0-or-later
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/ -}}

{{- /*
    OPEN GRAPH META TAGS
    To enable fancy previews of links to GtS posts/profiles shared via instant
    messaging, or other social media, parse out provided Open Graph meta tags.
*/ -}}

{{- with .ogMeta }}
{{- if .Locale }}
<meta property="og:locale" content="{{- .Locale -}}">
{{- else }}
{{- end }}
<meta property="og:type" content="{{- .Type -}}">
<meta property="og:title" content="{{- demojify .Title | noescape -}}">
<meta property="og:url" content="{{- .URL -}}">
<meta property="og:site_name" content="{{- .SiteName -}}">
<meta property="og:description" content="{{- demojify .Description | noescape -}}">
{{- if .ArticlePublisher }}
<meta property="og:article:publisher" content="{{ .ArticlePublisher }}">
<meta property="og:article:author" content="{{ .ArticleAuthor }}">
<meta property="og:article:modified_time" content="{{ .ArticleModifiedTime }}">
<meta property="og:article:published_time" content="{{ .ArticlePublishedTime }}">
{{- else }}
{{- end }}
{{- if .ProfileUsername }}
<meta property="og:profile:username" content="{{- .ProfileUsername -}}">
{{- else }}
{{- end }}
{{- range $i, $m := .Media }}
<meta property="og:{{- $m.OGType -}}" content="{{- $m.URL -}}">
{{- if or (eq $m.OGType "video") (eq $m.OGType "audio") }}
<meta property="og:{{- $m.OGType -}}:secure_url" content="{{- $m.URL -}}">
{{- else }}
{{- end }}
{{- if $m.MIMEType }}
<meta property="og:{{- $m.OGType -}}:type" content="{{ $m.MIMEType }}">
{{- else }}
{{- end }}
{{- if $m.Width }}
<meta property="og:{{- $m.OGType -}}:width" content="{{ $m.Width }}">
<meta property="og:{{- $m.OGType -}}:height" content="{{ $m.Height }}">
{{- else }}
{{- end }}
{{- if $m.Alt }}
<meta property="og:{{- $m.OGType -}}:alt" content="{{ $m.Alt }}">
{{- else }}
{{- end }}
{{- end }}
{{- if .TwitterSummaryLargeImage }}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{- .TwitterSummaryLargeImage -}}">
{{- if .TwitterImageAlt }}
<meta name="twitter:image:alt" content="{{- .TwitterImageAlt -}}">
{{- else }}
{{- end }}
{{- else }}
<meta name="twitter:card" content="summary">
{{- end }}
{{- end }}