{{- /*
// GoToSocial
// Copyright (C) GoToSocial Authors admin@gotosocial.org
// SPDX-License-Identifier: AGPL-3.0-or-later
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/ -}}

{{ template "header.tmpl" .}}

<main class="profile">
    <div class="header">
        <div class="header-image">
            {{ if .account.Header }}
            <img src="{{.account.Header}}" alt="" />
            {{ end }}
        </div>
        <div class="basic-info">
            <a class="avatar" href="{{.account.Avatar}}">
                <img src="{{.account.Avatar}}" alt="">
            </a>
            <span class="displayname text-cutoff">
                {{if .account.DisplayName}}
                {{emojify .account.Emojis (escape .account.DisplayName)}}
                {{else}}
                {{.account.Username}}
                {{end}}
                <span class="sr-only">.</span>
            </span>
            <span class="username text-cutoff">@{{.account.Username}}<span class="sr-only">,
                </span>{{acctInstance .account.Acct}}</span>
            {{- /* Only render account role if 1. it's present and 2. it's not equal to the standard 'user' role */ -}}
            {{ if and (.account.Role) (ne .account.Role.Name "user") }}
            <div class="role {{ .account.Role.Name }}">
                <span class="sr-only">Role: </span>{{ .account.Role.Name }}
            </div>
            {{ end }}
            <!-- <a class="rss-icon-link" href="/@admin/feed.rss" aria-label="RSS feed">
				<i class="rss-icon fa fa-rss-square" aria-hidden="true"></i>
			</a> -->
        </div>
    </div>

    <div class="about-user">
        <div class="col-header">
            <h3>About</h3>
        </div>

        <div class="fields">
            {{ range .account.Fields }}
            <div class="field">
                <b>{{.Name}}</b>
                <span>{{.Value}}</span>
            </div>
            {{ end }}
        </div>

        <div class="bio">
            {{ if .account.Note }}
            {{emojify .account.Emojis (noescape .account.Note)}}
            {{else}}
            This GoToSocial user hasn't written a bio yet!
            {{end}}
        </div>

        <div class="accountstats">
            <b>Joined</b><time datetime="{{.account.CreatedAt}}">{{.account.CreatedAt | timestampVague}}</time>
            <b>Posts</b><span>{{.account.StatusesCount}}</span>
            <b>Followed by</b><span>{{.account.FollowersCount}}</span>
            <b>Following</b><span>{{.account.FollowingCount}}</span>
        </div>
    </div>

    <div class="toots">
        {{ if .pinned_statuses }}
        <div class="col-header pinned">
            <h3>Pinned posts</h3>
            <a href="#recent">jump to recent</a>
        </div>
        <section class="thread">
            {{ range .pinned_statuses }}
            <article class="toot expanded" id="{{.ID}}">
                {{ template "status.tmpl" .}}
            </article>
            {{ end }}
        </section>
        {{ end }}

        <div class="col-header" id="recent">
            <h3>Recent posts</h3>
        </div>

        <section class="thread">
            {{ if not .statuses }}
            <div data-nosnippet class="nothinghere">Nothing here!</div>
            {{ else }}
            {{ range .statuses }}
            <article class="toot expanded" id="{{.ID}}">
                {{ template "status.tmpl" .}}
            </article>
            {{ end }}
            {{ end }}
        </section>

        <div class="backnextlinks">
            {{ if .show_back_to_top }}
            <a href="/@{{ .account.Username }}">Back to top</a>
            {{ end }}
            {{ if .statuses_next }}
            <a href="{{ .statuses_next }}" class="next">Show older</a>
            {{ end }}
        </div>
    </div>
</main>

{{ template "footer.tmpl" .}}