{{ template "header.tmpl" .}}
<main>
    <section class="login">
        <h1>Login</h1>
        <form action="/auth/sign_in" method="POST">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="username" required placeholder="Please enter your email address">
        
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" required placeholder="Please enter your password">
            <button type="submit" class="btn btn-success">Login</button>
        </form>
    </section>
</main>
{{ template "footer.tmpl" .}}
