{{- /*
// GoToSocial
// Copyright (C) GoToSocial Authors admin@gotosocial.org
// SPDX-License-Identifier: AGPL-3.0-or-later
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/ -}}

{{- with .Account }}
<address>
    {{- if $.Local }}
    <a
        href="{{- .URL -}}"
        rel="author"
        title="Open profile"
    >
    {{- else }}
    <a
        href="{{- .URL -}}"
        rel="author nofollow noreferrer noopener" target="_blank"
        title="Open remote profile (opens in a new window)"
    >
    {{- end }}
        <picture
            class="avatar"
            aria-hidden="true"
        >
            {{- if .AvatarAttachment }}
            <source
                srcset="{{- .AvatarStatic -}}"
                type="{{- .AvatarAttachment.PreviewMIMEType -}}"
                media="(prefers-reduced-motion: reduce)"
            />
            {{- end }}
            <img
                src="{{- .Avatar -}}"
                alt="Avatar for {{ .Username -}}"
                title="Avatar for {{ .Username -}}"
            >
        </picture>
        <div class="author-strap">
            <span class="displayname text-cutoff">
                {{- if .DisplayName -}}
                {{- emojify .Emojis (escape .DisplayName) -}}
                {{- else -}}
                {{- .Username -}}
                {{- end -}}
            </span>
            <span class="sr-only">,</span>
            <span class="username text-cutoff">@{{- .Acct -}}</span>
        </div>
        <span class="sr-only">(open profile)</span>
    </a>
</address>
{{- end }}