{{- /*
// GoToSocial
// Copyright (C) GoToSocial Authors admin@gotosocial.org
// SPDX-License-Identifier: AGPL-3.0-or-later
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/ -}}

{{- define "ariaLabel" -}}
@{{ .Account.Acct -}}, {{ .CreatedAt | timestampPrecise }} (server time)
{{- if .LanguageTag -}}
    , language {{ .LanguageTag.DisplayStr -}}
{{- end -}}
{{- if .MediaAttachments -}}
    , has media
{{- end -}}
{{- if .RepliesCount -}}
    {{- if eq .RepliesCount 1 -}}
    , 1 reply
    {{- else -}}
    , {{ .RepliesCount }} replies
    {{- end -}}
{{- end -}}
{{- if .FavouritesCount -}}
    {{- if eq .FavouritesCount 1 -}}
    , 1 favourite
    {{- else -}}
    , {{ .FavouritesCount }} favourites
    {{- end -}}
{{- end -}}
{{- if .ReblogsCount -}}
    {{- if eq .ReblogsCount 1 -}}
    , 1 boost
    {{- else -}}
    , {{ .ReblogsCount }} boosts
    {{- end -}}
{{- end -}}
{{- end -}}

{{- with . }}
id="{{- .ID -}}{{- if .Pinned -}}-pinned{{- end -}}"
role="region"
aria-label="{{- template "ariaLabel" . -}}"
{{- end }}