{{- /*
// GoToSocial
// Copyright (C) GoToSocial Authors admin@gotosocial.org
// SPDX-License-Identifier: AGPL-3.0-or-later
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/ -}}

{{- with . }}
<a data-nosnippet href="{{- .URL -}}" class="toot-link">Open thread</a>
<section class="author">
    {{- include "status_author.tmpl" . | indent 1 | noescape }}
</section>
<section class="body">
    {{- if .SpoilerText }}
    <details class="text-spoiler">
        <summary>
            <span class="spoiler-text" lang="{{- .LanguageTag.TagStr -}}">{{- emojify .Emojis (escape .SpoilerText) -}}</span>
            <span class="button" role="button" tabindex="0">Toggle visibility</span>
        </summary>
        <div class="text">
            <div class="content" lang="{{- .LanguageTag.TagStr -}}">
                {{ emojify .Emojis (noescape .Content) }}
            </div>
            {{- if .Poll }}
            {{- include "status_poll.tmpl" . | indent 3 | noescape }}
            {{- end }}
        </div>
    </details>
    {{- else }}
    <div class="text">
        <div class="content" lang="{{- .LanguageTag.TagStr -}}">
            {{ emojify .Emojis (noescape .Content) }}
        </div>
        {{- if .Poll }}
        {{- include "status_poll.tmpl" . | indent 2 | noescape }}
        {{- end }}
    </div>
    {{- end }}
    {{- if .MediaAttachments }}
    {{- include "status_attachments.tmpl" . | indent 1 | noescape }}
    {{- end }}
</section>
<aside class="info">
    {{- include "status_info.tmpl" . | indent 1 | noescape }}
</aside>
{{- end }}