{{- /*
// GoToSocial
// Copyright (C) GoToSocial Authors admin@gotosocial.org
// SPDX-License-Identifier: AGPL-3.0-or-later
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/ -}}

{{- define "visibility_icon" -}}
    {{- if eq .Visibility "public" -}}
        globe
    {{- else if eq .Visibility "unlisted" -}}
        unlock
    {{- else -}}
        question
    {{- end -}}
{{- end -}}

{{- define "visibility_title" -}}
    {{- if eq .Visibility "public" -}}
        Public
    {{- else if eq .Visibility "unlisted" -}}
        Unlisted
    {{- else -}}
        Unknown
    {{- end -}}
{{- end -}}

{{- with . }}
<div class="status-stats">
    <dl class="stats-grouping text-cutoff">
        <div class="stats-item published-at text-cutoff">
            <dt class="sr-only">Published</dt>
            <dd class="text-cutoff">
                {{- if .Local }}
                <a
                    href="{{- .URL -}}"
                    class="u-url text-cutoff"
                    data-nosnippet
                    title="Open thread at this post"
                >
                    <time class="dt-published text-cutoff" datetime="{{- .CreatedAt -}}">{{- .CreatedAt | timestampPrecise -}}</time>{{- if .EditedAt }}*{{- end }}
                </a>
                {{- else }}
                <a
                    href="{{- .URL -}}"
                    class="u-url text-cutoff"
                    data-nosnippet
                    rel="nofollow noreferrer noopener" target="_blank"
                    title="Open remote post (opens in a new window)"
                >
                    <time class="dt-published text-cutoff" datetime="{{- .CreatedAt -}}">{{- .CreatedAt | timestampPrecise -}}</time>{{- if .EditedAt }}*{{- end }}
                </a>
                {{- end }}
            </dd>
        </div>
        <div class="stats-grouping">
            <div class="stats-item visibility-level" title="{{- template "visibility_title" . -}}">
                <dt class="sr-only">Visibility</dt>
                <dd>
                    <i class="fa fa-{{- template "visibility_icon" . -}}" aria-hidden="true"></i>
                    <span class="sr-only">{{- template "visibility_title" . -}}</span>
                </dd>
            </div>
            {{- if .Pinned }}
            <div class="stats-item" title="Pinned">
                <dt>
                    <span class="sr-only">Pinned</span>
                    <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                </dt>
                <dd class="sr-only">{{- .Pinned -}}</dd>
            </div>
            {{- else }}
            {{- end }}
            {{- if .RepliesCount }}
            <div class="stats-item" title="Replies">
                <dt>
                    <span class="sr-only">Replies</span>
                    <i class="fa fa-reply-all" aria-hidden="true"></i>
                </dt>
                <dd>{{- .RepliesCount -}}</dd>
            </div>
            {{- else }}
            {{- end }}
        </div>
    </dl>
    <details class="stats-more-info" name="stats-more-info">
        <summary title="More info">
            <i class="fa fa-fw fa-info" aria-hidden="true"></i>
            <span class="sr-only">More info</span>
            <i class="fa fa-fw fa-chevron-right show" aria-hidden="true"></i>
            <i class="fa fa-fw fa-chevron-down hide" aria-hidden="true"></i>
        </summary>
        <dl class="stats-more-info-content">
            <div class="stats-grouping">
                {{- if .LanguageTag.DisplayStr }}
                <div class="stats-item" title="Language">
                    <dt>
                        <span class="sr-only">Language</span>
                        <i class="fa fa-language" aria-hidden="true"></i>
                    </dt>
                    <dd>
                        <span class="sr-only">{{ .LanguageTag.DisplayStr -}}</span>
                        <span aria-hidden="true" title="{{- .LanguageTag.DisplayStr -}}">{{- .LanguageTag.TagStr -}}</span>
                    </dd>
                </div>
                {{- else }}
                {{- end }}
                {{- if not .RepliesCount }}
                <div class="stats-item" title="Replies">
                    <dt>
                        <span class="sr-only">Replies</span>
                        <i class="fa fa-reply-all" aria-hidden="true"></i>
                    </dt>
                    <dd>{{- .RepliesCount -}}</dd>
                </div>
                {{- else }}
                {{- end }}
                <div class="stats-item" title="Faves">
                    <dt>
                        <span class="sr-only">Favourites</span>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </dt>
                    <dd>{{- .FavouritesCount -}}</dd>
                </div>
                <div class="stats-item" title="Boosts">
                    <dt>
                        <span class="sr-only">Reblogs</span>
                        <i class="fa fa-retweet" aria-hidden="true"></i>
                    </dt>
                    <dd>{{- .ReblogsCount -}}</dd>
                </div>
            </div>
            {{- if and .EditedAt (gt (len .EditTimeline) 1) -}}
            <div class="stats-item edit-timeline text-cutoff">
                <dt>Edit timeline:</dt>
                {{- range $index, $edited := .EditTimeline }}
                {{- if not (eq $index (add (len $.EditTimeline) -1)) }}
                <dd class="text-cutoff" title="Edited {{ $edited -}}">
                    <span class="sr-only">Edited</span>
                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                    <time datetime="{{- $edited -}}">{{- $edited | timestampPrecise -}}</time>
                </dd>
                {{- else }}
                <dd class="text-cutoff" title="Published {{ $.CreatedAt -}}">
                    <span class="sr-only">Published</span>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <time datetime="{{- $.CreatedAt -}}">{{- $.CreatedAt | timestampPrecise -}}</time>
                </dd>
                {{- end }}
                {{- end }}
            </div>
            {{ end }}
        </dl>
    </details>
</div>
{{- end }}