{{- /*
// GoToSocial
// Copyright (C) GoToSocial Authors admin@gotosocial.org
// SPDX-License-Identifier: AGPL-3.0-or-later
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/ -}}

{{- define "threadLength" -}}
    {{- with $length := add (len $.context.Ancestors) (len $.context.Descendants) | increment -}}
        {{- if eq $length 1 -}}
            {{- $length }} post
        {{- else -}}
            {{- $length }} posts
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- with . }}
<main data-nosnippet class="thread" aria-labelledby="thread-summary">
    <div class="col-header">
        <h2 id="thread-summary">Thread with {{ template "threadLength" . -}}</h2>
        <a href="#{{- .status.ID -}}">jump to expanded post</a>
    </div>
    {{- range .context.Ancestors }}
    <article
        class="status"
        {{- includeAttr "status_attributes.tmpl" . | indentAttr 2 }}
    >
        {{- include "status.tmpl" . | indent 2 }}
    </article>
    {{- end }}
    {{- with .status }}
    <article
        class="status expanded"
        {{- includeAttr "status_attributes.tmpl" . | indentAttr 2  }}
    >
        {{- include "status.tmpl" . | indent 2 }}
    </article>
    {{- end }}
    {{- range .context.Descendants }}
    <article
        class="status"
        {{- includeAttr "status_attributes.tmpl" . | indentAttr 2 }}
    >
        {{- include "status.tmpl" . | indent 2 }}
    </article>
    {{- end }}
</main>
{{- end }}