
body {
	grid-template-rows: auto 1fr;
}

.capitalize {
	text-transform: capitalize;
}

section {
	margin-bottom: 1rem;
}

input, select, textarea {
	box-sizing: border-box;
}

section.info form {
		grid-template-columns: auto 1fr;
		width: calc(100% - 0.35rem);
	}

section.info form input {
			width: 100%;
			line-height: 1.5rem;
		}

section.info form label, section.info form input {
			padding: 0.2rem 0.5rem;
		}

section.info form input[type=checkbox] {
			justify-self: start;
			width: initial;
		}

section.info form input:-moz-read-only {
			border: none;
		}

section.info form input:read-only {
			border: none;
		}

section.info form input:invalid {
			border-color: red;
		}

section.info textarea {
		width: 100%;
		height: 8rem;
	}

section.info h1 {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.5rem;
	}

section.blocks .overflow {
		max-height: 80vh;
		overflow-y: auto;
	}

section.blocks .blocklist {
		display: grid;
		grid-template-columns: auto 1fr auto;
		grid-gap: 0.35rem 0;
	}

section.blocks .blocklist div {
			background: rgb(70, 79, 88);
			padding: 0.2rem 0.4rem;
		}

section.blocks .addblock {
		display: grid;
		grid-template-columns: 1fr auto auto;
		grid-gap: 0.35rem;
	}

section.blocks .addblock input, section.blocks .addblock select {
			font-size: 1.2rem;
		}

section.blocks .addblock input, section.blocks .addblock select, section.blocks .addblock textarea {
			padding: 0.5rem;
		}

section.blocks .addblock div {
			grid-column: 1/4;
		}

section.blocks .addblock div.single input {
			width: initial;
		}

section.blocks h3 {
		margin-bottom: 0;
	}

section.blocks .controls {
		display: flex;
		gap: 0.5rem;
	}

.error {
	font-weight: bold;
}

.hidden {
	display: none;
}

.notImplemented {
	border: 2px solid rgb(70, 79, 88);
	background: repeating-linear-gradient(
		-45deg,
		#525c66,
		#525c66 10px,
		rgb(70, 79, 88) 10px,
		rgb(70, 79, 88) 20px
	) !important;
}


