/*
  theme-title: Rain Forest Sweet Home
  theme-description: Rain Forest is dark and green, with sunlight spots.
*/

:root {
/* color definitions */
--dgreen1: #003333;
--dgreen2: #196C41;
--dgreen3: #027C68;
--dgreen4: #009933;
--dblue1: #141E46;
--typecolor: #F8F4EC;
--linkcolor: #B0E892;
--sunny: #FCDC2A;
--lesssunny: #C8B000;
--codebg: #333333;
--quotebg: #640505;

  /* Restyle basic colors  */
  --blue1: var(--dgreen2);
  --blue2: var(--lesssunny);
  --blue3: var(--linkcolor);
  --button-bg: var(--dgreen4);
  --button-fg: var(--dgreen1);
  --bg-accent: var(--dblue1);
  --orange2: var(--sunny);
  --profile-bg: var(--dgreen2);
  /*  statuses */
  --status-bg: var(--dgreen1);
  --status-focus-bg: var(--dgreen1);
  --status-info-bg: var(--dgreen3);
  --status-focus-info-bg: var(--dgreen3);

  /* Used around statuses + other items */
  --boxshadow-border: 0.08rem solid var(--codebg);

}

body {
        /* --bg: rgb(25,108,65); */
        --bg: linear-gradient(180deg, var(--dgreen2) 0%, var(--dgreen1) 40%, var(--dblue1) 100%);

}

html, body {
        scrollbar-color: var(--lesssunny);

}

/* header */
.profile .profile-header {
  border-color: var(--sunny);
  border-width: 8px;
  border-style: solid;
}

/* about user */
.profile .about-user .bio {
  background: var(--codebg);
}

.profile .about-user .accountstats {
  border-style: solid;
  background: var(--dblue1);
}

/* Profile fields */
.profile .about-user .fields .field {
  border-bottom: 0.1rem solid var(--sunny);
}
.profile .about-user .fields .field:first-child {
  border-top: 0.1rem solid var(--sunny);
}

/* Block quotes */
blockquote {
  background-color: var(--quotebg);
  color: var(--typecolor);
  font-style: italic;
}

/* Code snippets */
pre, pre[class*="language-"],
code, code[class*="language-"] {
  background-color: var(--codebg);
}


/* status language */
.status .status-info .status-stats .language {
  color: var(--quotebg);
  font-weight: bold;
  background-color: var(--typecolor);
  padding: 3px;
  border-radius: 5px 10px;
}
