/* Displays account with displayname, username and avatar */
.account-card {
	display: inline-grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	text-decoration: none;
	gap: 0.5rem 1rem;
	border-radius: $br;
	padding: 0.5rem;
	min-width: 40%;
	margin-bottom: 0.3rem;

	background: $list-entry-bg;

	&:hover {
		background: $list-entry-alternate-bg;
	}

	b {
		font-size: 1.25rem;
		align-self: end;
		margin: 0;
		color: $fg;
	}

	img.avatar {
		border-radius: 0.5rem;
		width: 5rem;
		height: 5rem;
		object-fit: cover;
		grid-row: 1 / span 2;
	}
}