/* Style emoji to fit in-line with text */
.emoji {
	width: 1.45em;
	height: 1.45em;
	margin: -0.2em 0.02em 0;
	object-fit: contain;
	vertical-align: middle;
	
	@media (prefers-reduced-motion: no-preference) {
		/*
			Enlarge emojis on hover to give
			viewer a good look at them.
		*/
		transition: 0.1s;
		&:hover, &:active {
			transform: scale(2);
			background-color: $bg;
			box-shadow: $boxshadow;
			border: $boxshadow-border;
			border-radius: $br-inner;
		}
	}
}
