main {
  background: transparent;
}

.headerimage img {
    width: 100%;
    height: 15em;
    object-fit: cover;
    border-radius: 10px;
  }

.profile {
  position: relative;
  background: rgb(75, 84, 93);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.5rem;
  margin-bottom: 0.2rem;
}

.profile .basic {
    display: flex;
    flex-direction: column;
    flex: 1 1 25em;
    gap: 0.5rem;
  }

.profile .basic a {
      position: relative;
      z-index: 1;
      color: inherit;
      text-decoration: none;
    }

.profile .basic .avatar img {
        height: 25em;
        width: 25em;
        object-fit: cover;
        border-radius: 10px;
      }

.profile .basic .displayname {
      font-weight: bold;
      font-size: 1.6rem;
      align-self: start;
    }

.profile .detailed {
    display: flex;
    flex-direction: column;
    flex: 1 1 25em;
  }

.profile .detailed h2 {
      margin-top: 0;
    }

.profile .detailed .bio {
      margin: 0;
    }

.profile .detailed .bio a {
        color: #de8957;
        text-decoration: underline;
      }

.accountstats {
  position: relative;
  background: rgb(75, 84, 93);
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5rem;
  margin-bottom: 0.2rem;
}

.accountstats .entry {
    background: rgb(89, 99, 110);
    padding: 0.5rem;
    flex-grow: 1;
    text-align: center;
  }

footer + div {
  /* something weird from the devstack.. */
  display: none;
}
